<% users.each do |user| %>
        <tbody>
          <tr>
            <td><%= attachment_image_tag user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg" %></td>
            <td><%= user.name %></td>
            <td class="following-count">フォロー数: <%= user.follower.count %></td>
            <td class="follower-count">フォロワー数: <%= user.followed.count %></td>
            <% unless current_user == user %>
            <% if current_user.following?(user) %>
            <td class="follow-button">
              <%= link_to 'フォロー解除', unfollow_path(user), method: :post, remote: true %>
            </td>  
            <% else %>
            <td class="follow-button">
              <%= link_to 'フォローする', follow_path(user), method: :post, remote: true %>
            </td>  
            <% end %>
            <% end %>
            <td><%= link_to "Show", user_path(user.id) %></td>
          </tr>
        </tbody>
        <% end %>