<!--プロフィールここから-->
<h2>User info</h2>
<div class="profile-container">
  <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
  <table class="table">
    <tbody>
      <th>name</th>
      <th><%= user.name %></th>
    </tbody>
    <tbody>
      <tr>
        <th>introduction</th>
        <th><%= user.introduction %></th>
      </tr>
      <tr>
        <th>フォロー中</th>
        <th class="following-count"><%= link_to user.follower.count, following_user_path(user) %></th>
      </tr>
      <tr>
        <th>フォロワー</th>
        <th class="follower-count"><%= link_to user.followed.count, follower_user_path(user) %></th>
      </tr>
    </tbody>
  </table>
  <% unless current_user == user %>
      <span class="follow-button_<%= user.id %>">
        <%= render 'relationships/follow-button', user: user %>
      </span>
  <% end %>
</div>
<!--プロフィールここまで-->

<!--プロフィール編集ここから-->
<div class="profile-edit my-3">
    <%= link_to edit_user_path(user), class:"btn btn-outline-secondary btn-block btn-sm" do %>
    <i class="fas fa-user-cog"></i>
    <% end %>
</div>
<!--プロフィール編集-->

