<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1><a href="/">Bookers</a></h1>
      <nav>
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="home/abut">About</a></li>
          
        <% if user_signed_in? %>
          <li>
            <%= link_to "logout", destroy_user_session_path, method: :delete %>
          </li>  
        <% end %>
        </ul>
      </nav>
    </header>
    
    <%= yield %>
    
  <footer><p>CopyRight Inflatop.Inc</p></footer>
  </body>
</html>
